:root {
  --primary: #0f1b4c;
  --secondary: #687690;
  --third: #000339;
  --four: #0689ff;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
/* ==== class chung ===== */
a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.width {
  max-width: calc(100% - 48px);
  width: 1110px;
  margin: 0 auto;
}

.btn {
  min-width: 98px;
  background-color: var(--primary);
  text-align: center;
  padding: 18px 16px;
  border-radius: 12px;
  color: #fff;
}

.btn:hover {
  opacity: 0.7;
}

/* header */
.header {
  background-color: #e6f0ff;
  height: 100vh;
  position: relative;
}
.navbar {
  padding-top: 40px;
}
.navbar-list,
.navbar {
  display: flex;
  align-items: center;
}
.navbar-list {
  margin-left: 50px;
}
.navbar .action {
  margin-left: auto;
}
.navbar-list a {
  font-size: 1.4rem;
  font-weight: 500;
  color: #4f5361;
  padding: 10px 14px;
}

.navbar-list a:hover {
  text-decoration: underline;
}
.action .action-link {
  margin-right: 18px;
}
.action .action-link,
.action .btn {
  font-weight: 500;
  font-size: 1.4rem;
}

/* Hero-info */
.hero {
  margin-top: 130px;
}
.info {
  width: 51%;
}
.hero .sub-title {
  color: var(--secondary);
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1.5;
}
.hero .title {
  margin-top: 8px;
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 1.2;
  color: var(--primary);
}
.hero .info-desc {
  margin-top: 30px;
  font-size: 1.8rem;
  line-height: 1.8;
  color: var(--secondary);
  font-weight: 500;
}
.hero .btn-more {
  margin-top: 40px;
  min-width: 170px;
  font-size: 1.3rem;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 15px 38px;
  border-radius: 12px;
}
.hero-img {
  position: absolute;
  bottom: 0;
  right: calc((100vw - 1110px) / 2 - 100px);
}
/* client */
.client {
  margin-top: 122px;
}
.client .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row .client-desc {
  font-size: 1.6rem;
  color: var(--secondary);
  line-height: 1.2;
  font-weight: 500;
}
.client .row:nth-child(2) {
  margin-top: 23px;
}
.client-logo {
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* guide */
.guide {
  margin: 200px 0 120px;
}
.guide .guide-top {
  text-align: center;
}
.guide .guide-title {
  color: var(--third);
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 20px;
  position: relative;
}

.guide .guide-title::before {
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  background: var(--third);
  border-radius: 12px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.guide .guide-desc {
  max-width: 100%;
  width: 460px;
  margin: 0 auto;
  color: var(--secondary);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8;
}

.guide .guide-bottom {
  margin-top: 62px;
  text-align: center;
}
.list-guide {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-guide .guide-item {
  margin: 0 70px;
}
.guide .guide-item .icon {
  margin-bottom: 26px;
}
.guide-item .item-title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 22px;
  color: var(--third);
  margin-bottom: 10px;
}

.guide-item .item-link {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--four);
}

.btn-guide {
  min-width: 170px;
  margin-top: 64px;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.5;
}
/* feartured */
.fearture {
  padding: 110px 0;
  background-color: #f5fafe;
}
.fearture .sub-heading {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1;
  color: var(--third);
  margin-bottom: 15px;
}

.fearture .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fearture .fearture-desc {
  font-size: 1.6rem;
  line-height: 1.8;
  color: var(--secondary);
}
.fearture-cta .fearture-link {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--four);
}

.fearture-list {
  margin-top: 68px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.fearture-list .fearture-content {
  margin: 17px 38px 24px 20px;
}
.fearture-list .fearture-item {
  background-color: #fff;
  box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
  border-radius: 12px;
}

.fearture-item .fearture-thumbail {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
.fearture-content h3 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1;
  color: var(--third);
  margin-bottom: 11px;
}
.fearture-content .content-desc {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--secondary);
  margin-bottom: 21px;
}

.fearture .content-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.content-icon span {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #4d4d52;
}
